$menuColor: #5caeb1;

.d-header #site-text-logo {
    text-transform: lowercase;
    font-size: 3.4666em;
    letter-spacing: -1pt;
    color: $menuColor;
}

.d-header {
    background-color: transparent;
    box-shadow: none;
    position: relative;
}

.docked .d-header {
    position: relative;
}

.d-header>.wrap {
    margin-top: 50pt;
    display: inline-block;
    align-items: initial;
}

.d-header .title {
    display: inline-block;
    align-items: unset;
    height: auto;
}

.d-header .panel {
    display: inline-block;

}

.d-header .header-buttons {
    display: inline-block;
}

.d-header-icons {
    display: inline-block;
}

.wrap {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 1330px) {
    .wrap {
        max-width: 1300px;
    }
}

@media (min-width: 1200px) {
    .wrap {
        max-width: 1140px;
    }
}

@media (min-width: 992px) {
    .wrap {
        max-width: 960px;
    }
    
}

@media (min-width: 768px) {
    .wrap {
        max-width: 720px;
    }
    
}
@media (min-width: 576px) {
    .wrap {
        max-width: 540px;
    }
}
