$menuColor: #5caeb1;
$secondaryColor: #3d6374;

.d-header #site-text-logo {
    text-transform: lowercase;
    font-size: 3.4666em;
    letter-spacing: -1pt;
    color: $menuColor;
}

.d-header {
    background-color: transparent;
    box-shadow: none;
    position: relative;
    left: unset;
    height: auto;
    margin-bottom: 0;
    display: inline-block;
    text-align: center;
}

.docked .d-header {
    position: relative;
}

.d-header>.wrap {
    margin-top: 22pt;
    display: inline-block;
    align-items: initial;
}

.d-header>.wrap .contents {
    display: flex;
}

.d-header .title {
    // display: inline-block;
    // align-items: unset;
    // height: auto;
    float: left;
}

.d-header .panel {
    // display: inline-block;
    float: right;

}

.d-header .header-buttons {
    display: inline-block;
}

.d-header-icons {
    display: inline-block;
}

.wrap {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

#search-button {
    display: none;
}

#toggle-hamburger-menu {
    display: none;
}

.categories-and-latest .topic-featured-link, .categories-and-top .topic-featured-link {
    display: none;
}

.nav-pills>li a.active {
    background-color: $menuColor;
}

.menu-panel .panel-body {
    text-align: left;
}

.d-header-icons {
    display: block;
}

.d-header-icons>li {
    float: none;
}

@media (min-width: 576px) {
    .wrap {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .wrap {
        max-width: 720px;
    }
    
}

@media (min-width: 992px) {
    .wrap {
        max-width: 960px;
    }
    
}

@media (min-width: 1200px) {
    .wrap {
        max-width: 1140px;
    }
}

@media (min-width: 1330px) {
    .wrap {
        max-width: 1300px;
    }
}



/// hide posting features

.discourse-no-touch .topic-body .actions .fade-out {
    display: none;
}

.topic-map {
    display: none;
}

nav.post-controls button.bookmark {
    display: none;
}

#topic-title h1 a {
    font-size: 1.5em;
    display: inline-block;
    margin-right: 10pt;
}

.small-action {
    display: none;
}

.title-wrapper .topic-statuses {
    display: none;
}

#topic-title .title-wrapper a.topic-featured-link {
    display: none;
}

button.widget-button.btn-flat.share.no-text.btn-icon {
    display: none;
}

.timeline-container .topic-timeline .timeline-footer-controls {
    display: none;
}

button#topic-footer-button-share-and-invite {
    display: none;
}

.topic-list .topic-featured-link {
    display: none;
}

.custom-header-links .headerLink a {
    padding: 15px 1.5em !important;
    font-size: 1.42em !important;
    color: $secondaryColor !important;
}

p {
    font-weight: 300;
    font-size: 1.3em;
}

p small {
    font-size: 1em;
    font-weight: bold;
}

.cooked small, .d-editor-preview small {
    font-size: 1em;
}

.latest-topic-list-item .main-link {
    font-size: 1.2em;
}

.badge-wrapper .badge-category .category-name {
    color: rgba(0, 0, 0, 0.3);
}

.topic-list-main-link a.title, .topic-list .main-link a.title, .latest-topic-list-item .main-link a.title {
    display: block;
    padding-top: 0;
    padding-bottom: 6pt;
}

.df-linklist-a {
    font-size: 1.07em;
    margin-top: 30pt !important;
}

#df a, .df-mainwrap a {
    padding-left: 12pt;
    padding-right: 12pt;
    border-bottom: none;
    margin-right: 0;
}

.copyrightNotice {
    padding-bottom: 40pt;
    font-size: 0.77em;
    color: white;
    font-weight: 300;
}

.topic-list-main-link a.title, .topic-list .main-link a.title, .latest-topic-list-item .main-link a.title {
    font-size: 1.2em;
}

.tagline {
    margin-top: 4pt;
}

.topCategories {
    display: block;
    // margin-bottom: 80pt;
    align-content: center;
    text-align: center;
}

div#topCategories {
    text-align: center;
    margin-bottom: 80pt;
}

.topCategory {
    width: 40%;
    display: inline-block;
    vertical-align: top;
    margin: 2% 2% 2% 2%;
    text-align: left;
}

.categoryTitle {
    text-align: left;
    font-size: 1.5em;
    margin-top: 5pt;
    margin-bottom: 3pt;
    font-weight: bold;
}

.categoryDescription {
    text-align: left;
}

#main-outlet {
    padding-top: 30pt;
}

.categoryButton {
    background-color: #5caeb1;
    padding: 5pt 7pt 5pt 7pt;
    display: inline-block;
    border-radius: 4pt;
    margin-top: 7pt;
    color: white;
}

.categoryImage {
    padding-top: 40%;
    background-size: cover;
}

.categoryButton a {
    color: white
}

.categoryButton a:visited {
    color: white;
}


//  search area
.bigHeroImageDiv {
    width: 100%;
    padding-top: 14%;
    background-size: cover;
    background-position: center;
    background-image: url(https://greysnet.com/wp-content/uploads/2020/03/Tai-Chi-Image-3.jpg);
    margin-top: 20pt;

}


.search-header {
    padding-bottom: 25pt;;
}

.searchContainer {
    margin-bottom: 30pt;
    /* text-align: right; */
}

.searchBox {
    /* display: flex;
    width: 35%;
    min-width: 200pt; */
}

#searchInput {
    width: 55%;
    padding: 12px 18px;
}

#searchButton {
    padding: 14px 24px 9pt;
    text-align: center;
    background-color: #84a220;
    font-weight: 500;
    color: #fff;
    display: inline-block;
    border: none;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 24px;
    cursor: pointer;
    -webkit-appearance: button;
}