$menuColor: #5caeb1;
$secondaryColor: #3d6374;

.d-header #site-text-logo {
    text-transform: lowercase;
    font-size: 3.4666em;
    letter-spacing: -1pt;
    color: $menuColor;
}

.d-header {
    background-color: transparent;
    box-shadow: none;
    position: relative;
    left: unset;
    height: auto;
    margin-bottom: 0;
    display: inline-block;
    text-align: center;
}

.docked .d-header {
    position: relative;
}

.d-header>.wrap {
    margin-top: 50pt;
    display: inline-block;
    align-items: initial;
}

.d-header>.wrap .contents {
    display: flex;
}

.d-header .title {
    // display: inline-block;
    // align-items: unset;
    // height: auto;
    float: left;
}

.d-header .panel {
    // display: inline-block;
    float: right;

}

.d-header .header-buttons {
    display: inline-block;
}

.d-header-icons {
    display: inline-block;
}

.wrap {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

#search-button {
    display: none;
}

#toggle-hamburger-menu {
    display: none;
}

.categories-and-latest .topic-featured-link, .categories-and-top .topic-featured-link {
    display: none;
}

.nav-pills>li a.active {
    background-color: $menuColor;
}

.menu-panel .panel-body {
    text-align: left;
}

.d-header-icons {
    display: block;
}

.d-header-icons>li {
    float: none;
}

@media (min-width: 576px) {
    .wrap {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .wrap {
        max-width: 720px;
    }
    
}

@media (min-width: 992px) {
    .wrap {
        max-width: 960px;
    }
    
}

@media (min-width: 1200px) {
    .wrap {
        max-width: 1140px;
    }
}

@media (min-width: 1330px) {
    .wrap {
        max-width: 1300px;
    }
}



/// hide posting features

.discourse-no-touch .topic-body .actions .fade-out {
    display: none;
}

.topic-map {
    display: none;
}

nav.post-controls button.bookmark {
    display: none;
}

#topic-title h1 a {
    font-size: 1.7em;
    display: block;
}

#topic-title .title-wrapper a.topic-featured-link {
    display: none;
}

button.widget-button.btn-flat.share.no-text.btn-icon {
    display: none;
}

.timeline-container .topic-timeline .timeline-footer-controls {
    display: none;
}

button#topic-footer-button-share-and-invite {
    display: none;
}

.topic-list .topic-featured-link {
    display: none;
}

.custom-header-links .headerLink a {
    padding: 15px 1.5em;
    font-size: 1.42em;
    color: $secondaryColor;
}